{%- set ns = namespace(hl_lines='', code_block="") -%}
{%- for commit in element.commits -%}
<!--tgen step={{ commit.tag  }} {{("suffix=" + element.suffix) if element.suffix != '' and  element.suffix is string}} {{("prefix=" + element.prefix) if element.prefix != '' and element.prefix is string}}-->
<!--end-->
{% endfor %}

